{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block titulo %}<title>{{ conferencista.nombre }} - Instituto Tecnológico de Acapulco</title>{% endblock%}
{% block contenido%}
    <div class="container">
        <h2 class="main-title">{{ conferencista.nombre }}</h2>
        <h4>Conferencista</h4>

        <div class="row">
            <div class="col-sm-3 text-center">
                {% thumbnail conferencista.imagen "300x300" crop="center" as im %}
                <img
                    class="rounded-avatar-image"
                    src="{{ im.url }}"
                    alt="{{ conferencista.nombre }}"
                    title="{{ conferencista.nombre }}" />
                {% endthumbnail %}
            </div>
            <div class="col-sm-9 text-justify margin-bottom-small">
                {{ conferencista.contenido|safe }}
            </div>

            <div class="col-sm-12 text-justify">
            {% if conferencista.obras.all.count > 0 %}

                <h4 class="margin-top-small">Obras</h4>
                <hr>

                {% for obra in conferencista.obras.all %}
                <div class="col-sm-12 margin-bottom-small">
                    <div class="col-sm-3">
                        {% thumbnail obra.imagen "200x200" crop="center" as im %}
                        <img
                            class="rounded-image"
                            src="{{ im.url }}"
                            alt="obra {{ conferencista.nombre }}"
                            title="obra {{ conferencista.nombre }}" />
                        {% endthumbnail %}
                    </div>
                    <div class="col-sm-9">
                        {{ obra.contenido|safe }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
            <br>
    </div>  
    {% include 'congreso/partials/contact-sticky-button.html' %}
{% endblock%}
