{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block titulo %}<title>Conferencistas - Instituto Tecnológico de Acapulco</title>{% endblock%}
{% block contenido%}
    <div class="container">
        <h2 class="main-title">CONFERENCISTAS MAGISTERIALES</h2>
        <div class="row">
            <br><br>
            <div class="margin-top-low" >
                {% if conferencistas %}
                    <div class="row">
                        {% for conferencista in conferencistas %}
                        <div class="col-sm-3">
                            <a href="{% url 'congreso:conferencista' conferencista.slug%}">
                                <div class="thumbnail demo">

                                    {% thumbnail conferencista.imagen "300x300" crop="center" as im %}
                                    <img
                                        class="rounded-avatar-image"
                                        src="{{ im.url }}"
                                        alt="{{ conferencista.nombre }}"
                                        title="{{ conferencista.nombre }}" />
                                    {% endthumbnail %}

                                    <div class="caption speaker">
                                        <h5 class="text-center"><strong>{{ conferencista.nombre }}</strong></h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-center">
                        No hay docentes que mostrar.
                    </p>
                {% endif %}
                <a href="{% url 'congreso:registro_congreso' %}">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="square-button green-important">
                            <strong>Regístrate al Congreso</strong></div>
                    </div>
                </a>
                <br>
            </div>	
        </div>	
    </div>	
    {% include 'congreso/partials/contact-sticky-button.html' %}
{% endblock%}
