{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}
  {% block titulo %}<title>Acreditación - Instituto Tecnol&oacute;gico de Acapulco</title>{% endblock%}
 <div class="row">
 		<br><br>
		 

			<div class="text-justify1 margin-top-low" >
 
			

	<h3 class="text-red">CARACTERÍSTICAS</h3>
	<br>
	
		<p>La acreditación de un programa académico requiere de un proceso caracterizado por ser: Voluntario, Integral, Objetivo, justo y transparente, Externo, Producto del Trabajo Colegiado, responsable y ético, Temporal y Confiable.</p>

		<p>La tarea formadora de arquitectos se sustenta en tres elementos básicos;  los docentes, el programa académico y los alumnos, complementados por diferentes apoyos académicos, administrativos, de infraestructura y equipo.  En este orden se establecen los requisitos básicos indispensables con los que los programas académicos formadores de arquitectos en nuestro país tendrán que cumplir para alcanzar su nivel superior, la acreditación</p>
		
		<p>El fin primordial de la acreditación es reconocer la calidad del programa académico y propiciar su mejoramiento.</p>

		<img class="ntodas pull-right margin-img-float" src="{% static 'imagenes/imagenes/acreditacion2.jpg' %}" />	
		
		<p>EL 24 de agosto del presente año, el Consejo Mexicano de Acreditación de la enseñanza de la arquitectura (COMAEA), entregó en manos del Ing. Ángel Francisco Velasco Muñoz, Director del Instituto Tecnológico de Acapulco, y del Arq. Federico Zagal León, Jefe del departamento de Ciencias de la Tierra, el certificado que acredita el programa académico de la carrera de arquitectura, de acuerdo a los parámetros de calidad COMAEA. </p>
		
		<p>El evento se llevó a cabo en la antigua academia de San Carlos, en pleno centro de la ciudad de México, contando con la presencia del Arq. Cuauhtémoc Vega Memije, Presidente de COMAEA, y el Arq. Héctor García Escorza, Director Técnico de COMAEA, así como el representante del COPAES, y la presencia de 7 Instituciones que recibieron su acreditación entre ellas el Instituto Tecnológico de Acapulco.</p>

		<p>El Consejo Mexicano de Acreditación de Enseñanza de la Arquitectura, COMAEA, es el organismo reconocido formalmente como acreditador no gubernamental de programas académicos de educación superior en los niveles de licenciatura, técnico superior universitario o profesional asociado, sobre la base de su capacidad técnica, jurídica y financiera. Busca la superación de la enseñanza de la arquitectura, mediante la difusión de los beneficios de la acreditación basada en criterios básicos de calidad, sin dejar de reconocer la diversidad de enfoques en la formación del profesional de la arquitectura.</p>
		
		<p>Las características de la acreditación de un programa académico requiere de un proceso caracterizado por ser: voluntario, Integral, objetivo, justo y transparente, externo, producto del trabajo colegiado, responsable y ético, temporal y confiable.</p>

		<p>Consideramos que la acreditación tiene como propósito recomendar acciones que conduzcan al mejoramiento de la calidad y la eficiencia de los programas académicos evaluados en las instituciones.</p>
		
		<p>La acreditación de un programa educativo es el reconocimiento público de su calidad, es decir, constituye la garantía pública de que dicho programa cumple con determinado conjunto de estándares de calidad.</p>

		<img class="ntodas pull-left margin-img-float" src="{% static 'imagenes/imagenes/acreditacion3.png' %}" />	
		
		<p>Por razones derivadas del programa de modernización económica de nuestro país, una de las opciones para mejorar la calidad de la educación superior la constituye. el establecimiento de sistemas de acreditación de programas en diferentes disciplinas. Además, la globalización de la economía y los acuerdos sobre transferencia de servicios, derivados de la firma del TLC, determinaron la necesidad de que México estableciese un sistema de acreditación de programas de Licenciatura.</p>

		<p>A partir de una visión integral de las condiciones en que actualmente se desarrolla la enseñanza de la arquitectura en México, es de interés del Sistema Nacional de Institutos Tecnológicos (SNEST), el iniciar una búsqueda de las estrategias que permitan, en un futuro inmediato, una planeación en beneficio de los procesos, para la formación de los profesionistas a nivel Licenciatura de las carreras que ofrecen los diferentes Tecnológicos del Sistema.
		
		<p>El Instituto Tecnológico de Acapulco, ha enfrentado el reto de obtener la acreditación de sus programas, concientes del esfuerzo que significa el obtener la acreditación del programa de la Carrera de Arquitectura, por un organismo externo como COMAEA. Significa establecer el prestigio de la misma a nivel local, nacional e internacional, de la misma manera que marca una diferencia muy importante con las demás instituciones que ofrecen la carrera de arquitectura en la ciudad, tomando en cuenta que el ITA es la única institución pública en Acapulco con esta carrera.</p>
		
		<img class="ntodas pull-right margin-img-float" src="{% static 'imagenes/imagenes/acreditacion2.jpg' %}" />	
		
		<p>Por esto, los motivos de este importante logro, son amplios, todos ellos se sintetizan en alcanzar las metas y cumplir con los parámetros de calidad de la educación superior, en la búsqueda de la calidad, competitividad y la excelencia. </p>
		
		<p>El proceso de Acreditación se define por las siguientes etapas generales, sobre la base de una solicitud voluntaria por parte de las autoridades responsables de la Institución, cuyo programa académico será evaluado para su acreditación: </p>

		

		<p>La Institución preparó y entregó el material de auto evaluación con fecha 5 de marzo del presente año del programa académico y lo presentó al COMAEA, para su análisis, junto con la solicitud ex profeso, el sustento documental necesario y el pago correspondiente.</p>
		
		<p>El equipo evaluador revisó el material de auto evaluación previo a la visita a la Institución, y el día 25 de junio, en su visita, además de cotejar In Situ la información y documentos enviados, se entrevistaron con autoridades, funcionarios, cuerpos académicos, docentes, alumnos y trabajadores para asegurar el cumplimiento de los parámetros básicos de calidad para la enseñanza de la arquitectura reconocidos por el COMAEA.</p>
		
		<p>El reporte del equipo evaluador fue valorado por el Comité Técnico quién elaboró el dictamen final para ser aprobado por el Consejo Directivo, el cual fue: ACREDITADO.</p>

		<img class="ntodas pull-left margin-img-float" src="{% static 'imagenes/imagenes/acreditacion5.jpg' %}" />	
		
		<p>La tarea formadora de arquitectos se sustenta en tres elementos básicos;  los docentes, el programa académico y los alumnos, complementados por diferentes apoyos académicos, administrativos, de infraestructura y equipo.  En este orden se establecen los requisitos básicos indispensables con los que los programas académicos formadores de arquitectos en nuestro país tendrán que cumplir para alcanzar su nivel superior, la acreditación. </p>

		<strong><p>El fin primordial de la acreditación es reconocer la calidad del programa académico y propiciar su mejoramiento</p></strong>

		<p>Enhorabuena por la academia de arquitectura, quien con su dedicación y esfuerzo logró que este proyecto fructificará demostrando que la unidad y el trabajo en equipo son importantes.</p>

		<p>El Consejo Mexicano de Acreditación de Enseñanza de la Arquitectura, COMAEA, es el organismo reconocido formalmente como acreditador no gubernamental de programas académicos de educación superior en los niveles de licenciatura, técnico superior universitario o profesional asociado, sobre la base de su capacidad técnica, jurídica y financiera. Busca la superación de la enseñanza de la arquitectura, mediante la difusión de los beneficios de la acreditación basada en criterios básicos de calidad, sin dejar de reconocer la diversidad de enfoques en la formación del profesional de la arquitectura.</p>
		


		

  	 

{% endblock%}