{% load staticfiles%}
  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        {% block titulo %}<title>{{ entrada.titulo }} Instituto tecnologico de Acapulco</title>{% endblock%}

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{% static 'fonts.css' %}" />
        <link rel="stylesheet" href="{% static 'full-slider.css' %}" />

        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"  />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'modern-business.css' %}"  />

        <!-- Custom Fonts -->
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!--Used basically to load the proper meta tags for facebook.-->
        {% block meta_headers %}{% endblock%}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
             <a href="/" class="logo"><img src="{% static 'imagenes/logo/Logo1.png' %}" width="200px"></a>
             <a href="/" class="logo2"><img src="{% static 'imagenes/logo/LOGOTEC.png' %}" width="80px"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/acreditacion/">Acreditaci&aacute;n</a>
                        </li>
                        <li>
                            <a href="/docentes">Docentes</a>
                        </li>
                       
                     
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alumnos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="portfolio-1-col.html">R. Profesionales</a>
                                </li>
                                <li>
                                    <a href="portfolio-2-col.html">Servicio Social</a>
                                </li>
                                <li>
                                    <a href="portfolio-3-col.html">Ret&iacute;cula</a>
                                </li>
                                <li>
                                    <a href="portfolio-4-col.html">SII</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arquitectura <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/mision-vision/">Misi&oacute;n,Visi&oacute;n</a>
                                </li> 
                                   <li>
                                    <a href="/historia/">Historia</a>
                                </li>
                                 <li>
                                    <a href="/perfil-ingreso/">Perfil de ingreso, egreso</a>
                                </li>
                            
                            </ul>

                        </li>
                   
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


        {% block contenido%} {%endblock%}

        <hr>
        <div class="row">
            <div class="col-xs-3 col-sm-4">
                    <hr>
                        
                        <hr>

            </div>
                <div class="col-xs-6 col-sm-4 text-center">
                   
                    <img class="footer1"src="{% static 'imagenes/logo/logosep.png' %}" width="200px">
                   
                </div>

                    <div class="col-xs-3 col-sm-4">
                        <hr>
                           
                            <hr>
                    </div>
                        <div class="col-xs-12">
                    <hr>
                </div>
            </div>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="text-center col-lg-12">
                        <p>Copyright &copy; Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905, Teléfonos (744) 442-9010 al 19 y Fax (744) 468-3505 </p>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Script to Activate the Carousel -->
       <script>
        $(document).ready(function(){
            $('.myCarousel').carousel({
                interval: 5000
            });
        });
    </script>

    </body>
</html>
