{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block titulo %}<title>Docentes - Instituto Tecnológico de Acapulco</title>{% endblock%}
{% block contenido%}
    <div class="row">
        <br><br>
        <div class="text-center" >
            <img class="ntodas" alt="Mision y Vision" src="{% static 'imagenes/imagenes/maestros.jpg' %}" />	
        </div>	

        <div class="text-justify1 margin-top-low" >

            <h3 class="text-red">DOCENTES</h3>
            <h4 class="text-red">SEMBLANZAS</h4>
            {% if semblanzas %}
                <div class="row">
                    {% for semblanza in semblanzas %}
                    <div class="col-sm-3">
                        <a href="{% url 'docente' semblanza.slug%}">
                            <div class="thumbnail">
                                <img class="rounded-avatar-image" src="{{ semblanza.imagen|thumbnail_url:'teacher-avatar' }}" alt="{{ semblanza.nombre }}">
                                <img class="ntodas" src="{{ slider.imagen|thumbnail_url:'slider' }}" alt="" />
                                <div class="caption">
                                    <h5 class="text-center"><strong>{{ semblanza.nombre }}</strong></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                No hay docentes que mostrar.
            {% endif %}
            <br>
        </div>	
    </div>	
{% endblock%}
