{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}
  {% block titulo %}<title>Historia- Instituto Tecnol&oacute;gico de Acapulco</title>{% endblock%}
 <div class="row">
 		<br><br>
		 
  				<div class="text-center" >
					<img class="ntodas" alt="Historia" src="{% static 'imagenes/imagenes/historia.jpg' %}" />	
				</div>	
			<br>

			<div class="text-justify1 margin-top-low" >
 			
 			<h2 class="text-red">HISTORIA DE LA ARQUITECTURA</h1>
 			<br>
			
			<p> En diciembre de 1976, el Ing. Jesús Tebar Rodríguez, Director Técnico de los DGITF, siendo director el Ing. Emiliano Hernández Camargo, convocó en Durango, Dgo., a un grupo de profesionales, para analizar una nueva carrera en el sistema de los Tecnológicos, la de Ingeniero Arquitecto. Los representantes en esa ocasión fueron:</p>
	
			<ul>
				<li>Ing. Jorge Muro, de la DGITR.</li>
				<li>Ing. Arq. Antonio Rodríguez.- del IPN</li>
				<li>Arq. José Cardoso.- de Durango.</li>
				<li>Ing. Enrique Gómez.- de Querétaro</li>
				<li>Arq. Ramón Fares del Río.- de Acapulco.</li>
			</ul>
	

		<p>En principio, se planteó, que iniciáramos con la retícula del Politécnico, a lo cual se opusieron, los arquitectos Cardoso y Fares, proponiendo se implementaran materias teóricas, historia, urbanismo y cambiar el enfoque del contenido de los talleres de Composición Arquitectónica, con lo cual se crearía una nueva carrera, con otros objetivos mas humanísticos y artísticos sumándole las materias administrativas y técnicas constructivas. </p>
		
		<p>La segunda reunión se realizó en el Tecnológico de Querétaro, donde se definió la primera retícula, después de una investigación en otras instituciones y universidades: como la Metropolitana, la UNAM (Autogobierno) la Universidad de Chile y el Politécnico de Polonia.
		En este inicio, se respetaron las materias de tronco común, los asistentes, nos comprometimos a desarrollar las materias de especialidad, con sus objetivos y programas.</p>
		
		<p>Al Tecnológico de Acapulco, le tocaron todas las Composiciones Arquitectónicas, incluyendo el Taller Integral, además de las Teorías que se combinaban  con la Historia de la Arquitectura y, la de Urbanismo I. En total fueron 11 materias. Todos cumplieron con su responsabilidad para que iniciara en Querétaro la Carrera de Ingeniero Arquitecto en Asentamientos Humanos; fue en 1978 y en Acapulco, que fue el segundo Tecnológico en 1979.</p>
		
		<p>Posteriormente, empezó la inquietud de la mayoría de los que iniciaron esta carrera y los que se fueron sumando, de que se debería analizar, un nuevo planteamiento, para implementar la carrera de ARQUITECTURA, a principio de los ochenta.</p>
		
		<p>Se le dio un seguimiento, durante dos años analizando las materias que definirían el perfil del egresado en arquitectura.</p>
		
		<p>La carrera de arquitectura se ofrece en el ITA desde año de 1981 siendo el segundo plantel que lo estableció en el SNIT, donde existe desde 1976. La carrera se inició con el nombre de Ingeniero Arquitecto, como a nivel nacional, contemplando el módulo de especialidad de Asentamientos Humanos.
		En sus inicios la carrera de arquitectura tuvo su primer Coordinar el Arq. Rubén Eligio Sánchez Montiel a partir de 1983 hasta agosto de 1989.</p>
		
		<p>Desde la fundación de la carrera, se iniciaron las reuniones de la Academia de Arquitectura, continuándose hasta la fecha, con reuniones mensuales por lo menos.
		En el año de 1982 siguiendo los acuerdos nacionales, se cambió el nombre de la carrera de ingeniero arquitecto a Arquitecto únicamente.</p>
		
		<p>En el mes de septiembre de 1989, el Arq. Jorge Flores Castro, es nombrado nuevo coordinador de la carrera, fungiendo con el cargo hasta septiembre de 1990. Durante este período se iniciaron a nivel nacional reformas de los programas académicos de las carreras, en donde maestros de esta institución tuvieron una participación muy importante.</p>
		
		<p>El Arq. Jorge Flores Castro, a partir del mes de septiembre de 1990 fue cambiado su nombramiento a Jefe del Departamento de Arquitectura hasta el mes de octubre de 1992. </p>
		
		En el año de 1996, de acuerdo a la. Reforma en la Estructura Organizacional del SNIT, en ellTT se implantó el Modelo de Organización Departamental, por lo cual la carrera de arquitectura vino a formar el Departamento de Ciencias de la Tierra del ITA, nombrándose como primer Jefe de Departamento al mismo Arq. Jorge Flores Castro en el mes de noviembre de 1992, quien fungió así hasta el mes de febrero de 1995.</p>
		
		<p>En el mes de marzo de 1995 se realiza un nuevo cambio y al Arq. Blanca Estela López Ruiz se le designa como nuevo Jefe de Departamento de Ciencias de la Tierra, culminando su periodo en el año de 1998, por designarla subdirectora académica.</p>
		
		<p>Posteriormente se lleva otro cambio más el día 9 de febrero de 1988 es nombrado el Arq. Federico Zagal León, Jefe del Departamento de Ciencias de la Tierra fungiendo hasta la fecha con este nombramiento otorgado por el Dr. Esteban Hernández Pérez, Director General de Institutos Tecnológicos.</p>
		
		<p>En el Tecnológico de Acapulco, tenemos alrededor de 22 años, organizando la Semana de Arquitectura, donde han participado los arquitectos mexicanos, que están realizando la Arquitectura de Vanguardia, como Teodoro González de León, Agustín Hernández, Juan José Díaz Infante, Francisco Serrano Cacho, Augusto Quijano, Sara Topelson y José Grinberg, Enrique García Formentí, Rogelio Álvarez y Roberto Moranchel Bugarini y otros excelentes representantes de nuestro quehacer profesional, que hacen que estos eventos sean esperados, por los gremios de arquitectos en el Estado de Guerrero.</p>
		
		<p>También se han realizado, eventos nacionales e internacionales, como el ELEA (Encuentro Latinoamericano de Estudiantes de Arquitectura) en el año 2002 y el ENEA (Encuentro Nacional de Estudiantes de Arquitectura) en el  2006, que fueron un éxito y de la relevancia en los medios académicos y profesionales de la región.</p>
		
		<p>Los maestros de arquitectura  pertenecen a diferentes gremios como el Colegio de Arquitectos de Guerrero y el Colegio de Ingenieros Arquitectos de Guerrero, así como la “Academia Nacional de Arquitectura” teniendo además una actualización constante en congresos de diferentes especialidades y cursos de actualización.</p>
		
		<p>Actualmente la planta docente adscrita a la carrera de arquitectura está conformada de 32 docentes incluyendo al Jefe de Departamento, las plazas administrativas y docentes asignadas en apoyo a la carrera son: Jefe de Departamento con plaza de medio tiempo, adscrito a la carrera de Arquitectura; Coordinación de la Carrera, en la División de Estudios Profesionales, sin coordinador; Jefe de Proyectos de  Docencia, con tiempo completo; Jefe de Vinculación, con tres cuartos de tiempo y el Jefe de Investigación, de asignatura.</p>

		<p>Presidente de Academia de Ciencias de la Tierra, con plaza de tiempo completo; Secretario de Academia, con plaza de tiempo completo; además, once profesores de tiempo completo; uno de tres cuartos de tiempo, 2 de medio tiempo, 16 maestros de asignatura y un maestro de apoyo.</p><p>El nivel académico del profesorado es predominantemente licenciatura en arquitectura. Los estudios de maestría han sido realizados por diez profesores, en las áreas de Planificación y Desarrollo Regional, de los cuales tres han obtenido el grado académico; y uno se encuentra realizando estos estudios de Doctorado en Administración.</p>

		<p>Aunque el programa de arquitectura está mayormente apoyado por profesores de contrato por asignatura, no por ello merma el apoyo a estudiantes en sus clases mediante asesorías y todo lo relacionado a la dirección de residencias profesionales y tesis para titulación.</p>

		<p>La carrera ofrece dentro de su retícula un módulo de especialidad, el módulo de Diseño Arquitectónico Regional en liquidación, y ahora el ya aprobado “Arquitectura Turística Sustentable”</p>

</div>

  	 </div> 

{% endblock%}