{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'slider/style.css' %}" />
{% endblock styles %}
{% block contenido%}
    <!-- Header Carousel -->
    <header>
            <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
        <div id="wowslider-container1">
            <div class="ws_images">
                {% for slide in slides %}
                    <ul>
                        <li>
                            {% thumbnail slide.imagen "1500x550" crop="center" as im %}
                            <img
                                src="{{ im.url }}"
                                alt="{{ slide.titulo }}"
                                title="{{ slide.titulo }}"
                                id="wows1_{{ forloop.counter0 }}"/>
                            {% endthumbnail %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="ws_bullets">
                <div>
                    {% for slide in slides %}
                    <a href="#" title="{{ slide.titulo }}">
                        <span>
                            {% thumbnail slide.imagen "131x55" crop="center" as im %}
                            <img
                                src="{{ im.url }}"
                                alt="{{ slide.titulo }}" />
                            {% endthumbnail %}
                            1
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">http://wowslider.net/</a> by WOWSlider.com v8.7</div>
            <div class="ws_shadow"></div>
        </div>
        <!-- End WOWSlider.com BODY section -->
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bienvenido </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Publicaciones</h2>
            </div>
           <!-- Page Features -->
        {% for entrada in  entradas %}
            <div class="col-md-4 text-center" >
             <a href="{% url 'noticia' entrada.slug %}">
                <div class="thumbnail post">
                <span class="news-date"><h5>{{ entrada.time|date:"d M " }}</h5></span>

                {% thumbnail entrada.imagen "750x400" crop="center" as im %}
                <img src="{{ im.url }}" alt="" />
                {% endthumbnail %}
                    
                    <div class="caption">
                
                        <h3>{{ entrada.titulo }} <br></h3>
                        <h4><small>Publicado: {{ entrada.time}}</small></h4>
                       <h5> <p>{{ entrada.resumen }}</p></h5>
                    </div>
                </div>
                </a>
            </div>

            {% endfor %}
        </div>

        <br>
    <div class="row">
        <div class="text-center">
            <a href="{% url 'noticias' %}" class="btn btn-primary" role="button">VER TODAS LAS PUBLICACIONES</a>
        </div>
    </div>
{% endblock%}
{% block scripts %}
    <script type="text/javascript" src="{% static 'slider/wowslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'slider/script.js' %}"></script>
{% endblock scripts %}
