{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}
  {% block titulo %}<title>Misión, Visión y Valores Instituto Tecnol&oacute;gico de Acapulco</title>{% endblock%}
 <div class="row">
 		<br><br>
 		<div class="text-center" >
					<img class="ntodas" alt="Mision y Vision" src="{% static 'imagenes/imagenes/mision-vision.jpg' %}" />	
				</div>	
		 

			<div class="text-justify1 margin-top-low" >
 
			

	<h3 class="text-red">MISIÓN</h3>
	
	<p>Coadyuvar al desarrollo integral de la sociedad, a través de la formación académica y humana de profesionales de la arquitectura en consistencia con nuestras raíces culturales y principios ecológicos fundamentales.</p>
	
	<p>Con un alto sentido de compromiso social y de la ética, de mente abierta, competente y creativo.</p>

	<h3 class="text-red">VISIÓN</h3>
	<p>Aspiramos a ser una escuela de arquitectura vanguardista con un alto nivel académico y de servicio social, reconocida a nivel nacional, con egresados competentes, docentes actualizados y comprometidos. </p>


	<h3 class="text-red">OBJETIVO GENERAL</h3>
	
	<P>Formar profesionistas líderes con excelencia académica y humanística capaces de diseñar y construir el hábitat humano y participar en la toma de decisiones inherentes al mismo, con vocación de servicio a la sociedad, dentro de un marco de sustentabilidad.</P>


	<h3 class="text-red">VALORES</h3>
	
	<p>En los programas académicos del Instituto Tecnológico de Acapulco, se promoverán los valores siguientes:</p>
	
	<ul>
			<li>Verdad, equidad y justicia</li>
			<li>Libertad de Pensamiento</li>
			<li>Sensibilidad y creatividad</li>
			<li>Trabajo Honesto, productivo y perseverante</li>
			<li>Responsabilidad</li>
			<li>Competitividad.</li>
	</ul>
	<br>

</div>
		

  	 </div> 

{% endblock%}