{% extends "base.html" %}
{% load staticfiles %}


  {% block contenido%}
  {% block titulo %}<title>Perfil de ingreso y egreso - Instituto Tecnol&oacute;gico de Acapulco</title>{% endblock%}
 <div class="row">
 		<br><br>
 		<div class="text-center" >
					<img class="ntodas" alt="Perfil de Ingreso" src="{% static 'imagenes/imagenes/perfil-ingreso.jpg' %}" width="1000" />	
				</div>	
				<br>
		 

			<div class="text-justify1 margin-top-low" >
 
			

	<h3 class="text-red">PERFIL DE INGRESO</h3>
	
	
		<p>El Instituto Tecnológico de Acapulco estipula como condiciones para el ingreso de los alumnos lo siguiente:</p>
			<ul>
				<li> Haber concluido los de estudios de Preparatoria.</li>
				<li> No se le pide un promedio mínimo.</li>
				<li> La realización de un Examen de Selección.</li>
			</ul>

		<p>Las instituciones de Educación Superior Tecnológica han establecido como requisitos de ingreso, entre otros, la aprobación de dos pruebas, una de habilidad verbal y matemática y una de conocimientos del área específica a la que se desea ingresar.</p>
		
		<p>Para cada una de las pruebas que se han de presentar, se han elaborado guías de estudio que apoyarán la preparación para sustentarlas.</p>
		
		<p>La finalidad de las pruebas de admisión, es determinar, con cierta aproximación, la posibilidad que cada candidato posee para terminar exitosamente una carrera profesional.</p>

		<h3 class="text-red">PERFIL DE EGRESO</h3>
		
		<p>Con base en el desempeño esperado para un Arquitecto, a continuación se presentan los principales rasgos que define su perfil, de acuerdo con el tipo de actividades que desarrollará y las actitudes que requiere para lograr sus propósitos. Asimismo, se define el campo de acción en donde puede desempeñarse profesionalmente.</p>
		
		<p>El egresado de Arquitectura deberá ser un profesional que integre una sólida formación humanista, científica, artística y tecnológica para traducir en espacios arquitectónicos sus propuestas de solución a las necesidades humanas, a través de:</p>
		
		<ul>
			<p><li>Identificar, analizar, interpretar, sintetizar y evaluar las necesidades del ser humano para satisfacerlas, creando espacios que propicien su realización integral, tanto individual como social.</li></p>
			
			<p><li>Diseñar y construir con alto grado de belleza, funcionalidad, seguridad y creatividad.</li></p>
			
			<p><li>Preservar el medio natural y respetar el valor histórico del contexto físico-social al diseñar y construir la obra arquitectónica.</li></p>
			
			<p><li>Programar obras y analizar costos.</li></p>
			
			<p><li>Controlar y supervisar la realización de las obras.</li></p>
			
			<p><li>Seleccionar y aplicar equipo y materiales necesarios para la ejecución de las obras.</li></p>
			
			<p><li>Tener aptitud para coordinar a personas y grupos inter y multidisciplinarios, así como. de especialistas, en torno al proceso de producción de obras arquitectónicas.</li></p>
			
			<p><li>Realizar, en su totalidad, el proceso del proyecto Arquitectónico y urbano, así como su construcción, sus aspectos teórico-prácticos  con una visión crítica e innovadora, dentro de un marco de calidad como satisfactor de un desarrollo comunitario y personal.</li></p>
			
			<p><li>Aplicar principios de arquitectura integral y diseño universal, dirigidos a propiciar una óptima calidad de vida.</li></p>
			
			<p><li>Tener una actitud emprendedora para generar proyectos sustentables, funcionales, estéticos y factibles, propiciando oportunidades de trabajo.</li></p>
			
			<p><li>Preservar racionalmente los ámbitos natural y construido, con respeto al marco jurídico y normativo, al patrimonio edificado, a la cultura y a la diversidad.</li></p>
			
			<p><li>Poseer aptitud y actitud para coordinar y dirigir el proceso de producción de los objetos urbano-arquitectónicos.</li></p>
			
			<p><li>Planear, presupuestar y programar la ejecución de las obras.</li></p>
			
			<p><li>Formular los estudios de mercado, técnico y económico,  realizar la evaluación financiera, beneficio/costo así como impacto ambiental y social de la obra.</li></p>
			
			<p><li>Controlar y supervisar la realización de la obra arquitectónica y urbana.</li></p>
			
			<p><li>Actuar con ética, responsabilidad y honestidad</li></p>
		</li>

		<p>Estas habilidades deberán acompañarse con actitudes tales como: sentido de servicio a la comunidad; actuación ética, honesta y responsable, además de conciencia del medio natural y de las raíces culturales.</p></p>

	<h3 class="text-red">CAMPO DE ACCIÓN</h3>
	
	<p>El Arquitecto es un profesional con amplias perspectivas laborables. Pueden desarrollarse en dos grandes sectores: en la Administración Pública, en las empresas paraestatales o descentralizadas y en el Sector Privado, en trabajos con inversionistas, productores urbanos y turísticos yen pequeñas industrias y comercios.</p>
	
	<p>Dentro de este universo de posibilidades puede ejercer su profesión en puestos de trabajo como:</p>
	 
            <p> Proyectista en diferentes escalas y campos:</p>
			<ul>	
				<li>Proyecto urbano o rural</li>
				<li>Espacios exteriores</li>
				<li>Edificios</li>
				<li>Espacios interiores</li>
				<li>Elementos interiores</li>
				<li>Elementos arquitectónicos</li>
				<li>Estructuras arquitectónicas</li>
			</ul>
				<br>

        
        <p> Constructor en diversas modalidades </p>
			<ul>
				<li>Constructor</li>
				<li>Contratista</li>
				<li>Residente de obra</li>
				<li>Administrador</li>
				<li>Coordinador de obras</li>
				<li>Especialistas en instalaciones</li>
				<li>Valuador</li>
				<li>Promotor</li>
				<li>Calculista</li>
			</ul>
            
	

</div>
		

  	 </div> 
  	

{% endblock%}