<a href="#" class="btn square-button sticky fixed" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    ¿Comentarios? Tu opinión nos interesa. ¡Contáctanos!
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contacto</h4>
      </div>
      <div class="modal-body">
        <p>
            <strong>Dirección del Instituto Tecnológico de Acapulco:</strong>
        </p>
        <p>
            Av. Instituto Tecnológico S/N, Col. Crucero de Cayaco, Acapulco, Gro.
        </p>
        <p>
            Tel 01(744) 442 9011 ext 121 ó Celular: 744 131 0565
        </p>
        <p>
            www.it-acapulco..edu.mx
        </p>
        <p>
            www.ita-arquitectura.com
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn square-button purple">Cerrar</button>
      </div>
    </div>
  </div>
</div>
