{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block contenido%}
    <!-- Page Content -->
    <div class="container">
        <h2 class="main-title">{{ curso.nombre }}</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="carousel-inner">
                    <div class="item active">
                    {% thumbnail curso.imagen "730x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="responsive-img" />
                    {% endthumbnail %}
                    </div>
                    <br>
                </div>
            </div>
            <h5>
                <strong>
                    <span class="glyphicon glyphicon-time icon-styles"></span>
                    Dias y horario: 
                    {% if curso.dias_horario%}
                        {{ curso.dias_horario }}
                    {% else %}
                        No disponible
                    {% endif %}
                </strong>
            </h5>
            <p>{{ curso.contenido| safe }}</p>
        </div>
    </div>
    {% include 'congreso/partials/register-to-course-sticky-button.html' %}
{% endblock %}
