{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block contenido%}
<div class="container">
    <h2 class="main-title">REGISTRO AL 2do CONGRESO NACIONAL DE ARQUITECTURA 2016</h2>
    <h4>El espacio Público como agente del cambio social</h4>
    <p>Sedes: Instituto Tecnológico de Acapulco y Salón Cabaret de Grand Hotel Acapulco</p>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'congreso:registro_congreso' %}" method="POST">
                {% include 'common/form.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var title = "A todos los participantes",
    message = "Alumnos del ITA para validar su registro será necesario canjear " +
              "su Baucher de depósito en el Departamento de Recursos Financieros " +
              "y colocar el número de folio en el campo correspondiente de este " +
              "formulario. Los participantes foráneos deberán anotar el folio de " +
              "20 dígitos que tiene el Baucher de Depósito en el campo correspondiente " +
              "a Folio Recibo Oficial y de requerir factura también acudir al Departamento " +
              "de Recursos Financieros.";

    $("#warning-box #title").text(title);
    $("#warning-box #message").text(message);
</script>
{% endblock scripts %}
