{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block contenido%}
<div class="container">
    <h2 class="main-title">REGISTRO AL 2do CONGRESO NACIONAL DE ARQUITECTURA 2016</h2>
    <h4>El espacio Público como agente del cambio social</h4>
    <p>Sedes: Instituto Tecnológico de Acapulco y Salón Cabaret de Grand Hotel Acapulco</p>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'congreso:registro_congreso' %}" method="POST">
                {% include 'common/form.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var title = "A todos los participantes",
        message = "Para validar su registro será necesario enviar baucher de depósito escaneado, " +
                  "anotando nombre, numero de control y escuela de procedencia y subirlo en esta " +
                  "plataforma. Su baucher de pago tiene un folio de 20 digitos el cual será escrito " +
                  "en el campo de Folio de Baucher para validar su pago. Si requiere factura, éste " +
                  "deberá ser canjeado en el Departamento de Recursos Financieros del Instituto " +
                  "Tecnológico de Acapulco, presentando baucher original.";

    $("#warning-box #title").text(title);
    $("#warning-box #message").text(message);
</script>
{% endblock scripts %}
