{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block contenido%}
<div class="container">
    <h2 class="main-title">REGISTRO PARA PARTICIPAR EN LA MESA DE DEBATES</h2>
    <h4>Enviar una ponencia sobre el Tema: "Arquitectura y espacio Público"</h4>
    <p>Participacion: Viernes 21 de octubre de 10:00 a 13:00 horas</p>
    <p>Sede: Salón Cabaret del Grand Hotel Acapulco</p>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'congreso:registro_mesas_debate' %}" method="POST" enctype="multipart/form-data">
                {% include 'common/form.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var title = "Participantes foráneos",
        message = "Su registro queda aceptado a reserva de hacer la comprobación del pago al momento de participar.";

    $("#warning-box #title").text(title);
    $("#warning-box #message").text(message);
</script>
{% endblock scripts %}
