.rounded-avatar-image{
    border-radius: 50%;
    width: 190px;
    margin-bottom:5px;
    margin-top:10px;
}

.thumbnail.post{
    min-height:440px !important;
}

.glyphicon.icon-styles{
    margin-right: 5px;
    font-size: 14px;
}
.glyphicon.icon-styles.icon-video{
    color:#C15B5B;
}

.thumbnail .caption h3{
    font-size: 18px;
}

.thumbnail .caption p{
    font-size: 13px;
}

.thumbnail .caption small{
    font-size: 13px;
}
