{% if messages %}
<div>
    <div class="col-sm-12">
        {% for message in messages %}
        <div id="message-box" class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hiden="true">&times;</span></button>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{ message|safe }}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
