{% extends "base.html" %}
{% load staticfiles %}

{% block titulo %}<title>Convocatoria - Instituto Tecnológico de Acapulco</title>{% endblock%}
{% block contenido%}
    <div class="container-fluid convocatoria-background">
        <div class="container transparent-white">
            <div class="row">
                <br><br><br>
                <div class="text-center margin-top-low convocatoria" >
                    <p>
                        El Tecnológico Nacional de México, a través del Instituto
                        Tecnológico de Acapulco, y la Academia de Arquitectura:
                    </p>
                    <p>
                        <strong>C O N V O C A N</strong>
                    </p>
                    <p>
                        A investigadores, docentes y estudiantes de Instituciones de
                        Enseñanza de la Arquitectura de la República Mexica y en particular
                        a las de la región metropolitana y pacífico a participar en el:
                    </p>
                    <h3>2° Congreso Nacional de Arquitectura</h3>
                    <p>
                        Que se llevará a cabo del 17 al 21 de octubre ofreciendo cursos – taller,
                        conferencias magistrales y mesas de debate en torno al tema del Congreso 
                        “Espacio Público como agente del cambio social”.
                        
                    </p>
                    <p>
                        Siendo sede el edificio 800’s del Instituto Tecnológico de Acapulco para
                        los Cursos – Taller y el Salón Cabaret del Grand Hotel Acapulco para las 
                        conferencias
                    </p>
                    <div class="row">
                        <a target="_blank" href="{% static 'documents/congreso/convocatoria/convocatoria_mesas_de_debate_congreso.pdf' %}">
                            <div class="col-sm-2">
                                <div class="square-button yellow">Convocatoria</div>
                            </div>
                        </a>
                        <a target="_blank" href="{% static 'documents/congreso/convocatoria/cartel.pdf' %}">
                            <div class="col-sm-2">
                                <div class="square-button green">Cartel</div>
                            </div>
                        </a>
                        <a target="_blank" href="{% static 'documents/congreso/convocatoria/triptico_2o_congreso_nacional_arq.pdf' %}">
                            <div class="col-sm-2">
                                <div class="square-button blue">Triptico</div>
                            </div>
                        </a>
                        <a target="_blank" href="{% static 'documents/congreso/convocatoria/programa_congreso.pdf' %}">
                            <div class="col-sm-3">
                                <div class="square-button purple">Programa - Conferencias</div>
                            </div>
                        </a>
                        <a target="_blank" href="{% static 'documents/congreso/convocatoria/programa_cursos_taller.pdf' %}">
                            <div class="col-sm-3">
                                <div class="square-button red">Programa - Cursos taller</div>
                            </div>
                        </a>
                    </div>	
                    <p class="margin-top-small">
                        Descarga el documento en PDF de tu interés,
                        o registrate en linea <a href="#"><strong>aqui</strong></a>.
                    </p>
                    </div>	
                </div>	
        </div>	
    </div>	
{% endblock%}
