{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

  {% block contenido%}
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cursos Taller</h1>
            </div>
        </div>

        {% for curso in  cursos %}
            <div class="col-md-6 text-center" >
             <a href="{% url 'congreso:curso' curso.slug %}">
                <div class="thumbnail conference">
                <span class="news-date"><h5>{{ curso.time|date:"d M " }}</h5></span>

                {% thumbnail curso.imagen "750x300" crop="center" as im %}
                <img src="{{ im.url }}" alt="" />
                {% endthumbnail %}

                    <div class="caption">
                        <h3 class="conference">{{ curso.nombre }}<br></h3>
                        <h6>
                            <strong class="subtitle-color">
                                <span class="glyphicon glyphicon-time icon-styles"></span>
                                Dias y horario: 
                                {% if curso.dias_horario%}
                                    {{ curso.dias_horario }}
                                {% else %}
                                    No disponible
                                {% endif %}
                            </strong>
                        </h6>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}

    </div>
    <a href="#" class="square-button sticky fixed">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Registrate a un curso (cupo limitado)
    </a>
{% endblock %}
